#scrollToTop {
display: inline-block;
background-color: lightblue;
width: 50px;
height: 50px;
text-align: center;
border-radius: 4px;
position: fixed;
bottom: 30px;
right: 30px;
transition: background-color .3s,
  opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#scrollToTop::after {
content: "\f077";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 2em;
line-height: 50px;
color: #fff;
}
#scrollToTop:hover {
cursor: pointer;
background-color: #333;
}
#scrollToTop:active {
background-color: #555;
}
#scrollToTop.show {
opacity: 1;
visibility: visible;
}
.slider {
  width: 100%;
}

.calender-div {
  position: fixed !important;
  top: auto !important;
  left: auto !important;
}
